<!doctype html>
<!-- #if( false )
  Prerequisites from server model:
  --------------------------------
  ${locale}, ${debug}, ${experiments},
  ${newRelicEndUserHeader}, ${newRelicEndUserFooter}
  ${clientTopology.wixivrStaticsUrl},
  ${clientTopology.staticBaseUrl},

  More details at: http://kb.wixpress.com/display/dashboard/How+to+integrate+server+with+index.vm
#end -->
<!--
  #set( $staticsUrl = $clientTopology.wixivrStaticsUrl )
  #set( $staticBaseUrl = $clientTopology.staticBaseUrl )
-->
<html ng-app="wixivrSettings">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>wixivr</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">
    <meta name="referrer" content="origin">
    <link type="image/png" href="//www.wix.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="${staticBaseUrl}services/third-party/fonts/Helvetica/fontFace.css">
    <!-- process-tags prefix('${staticsUrl}') -->
    <link rel="stylesheet" href="bower_components/wix-ui-lib2/ui-lib.min.css"></link>
    <!-- build:css({.tmp,app}) styles/settings.css -->
    <link rel="stylesheet" href="styles/settings.css">
    <!-- endbuild -->
    <!-- end-process-tags -->
    ${newRelicEndUserHeader}
  </head>
  <body>
    <!-- Add your site or application content here -->
    <wixivr-settings name="'wixivrSettings'"></wixivr-settings>

    <!-- process-tags prefix('${staticsUrl}') -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/wix-js-sdk/Wix.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_${locale}.js"></script>
    <!-- build:js scripts/modules-settings.js -->
    <script src="bower_components/es6-shim/es6-shim.js"></script>
    <script src="bower_components/wix-ui-lib2/ui-lib.js"></script>
    <script src="bower_components/uri.js/src/URI.js"></script>
    <script src="bower_components/wix-angular/dist/wix-angular.js"></script>
    <script src="bower_components/wix-bi-logger/dist/scripts/bi-logger/wix-bi-angular.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts-settings.js -->
    <script src="scripts/settings.js"></script>
    <script src="views/wixivr-settings.html.js"></script>
    <script src="scripts/locale/messages_en.js"></script>
    <script src="scripts/components/wixivr-settings.js"></script>
    <!-- endbuild --><!-- scripts -->
    <!-- build:locale({.tmp,app}) scripts/locale/settings-${locale}.js -->
    <script src="scripts/locale/messages_${locale}.js"></script>
    <!-- endbuild -->
    <!-- end-process-tags -->

    <script>
      angular.module('wixivrSettings').config(function (wixAngularTopologyProvider, experimentManagerProvider) {
        wixAngularTopologyProvider.setStaticsUrl('${staticsUrl}');
        experimentManagerProvider.setExperiments(${experiments});
      });
    </script>
    ${newRelicEndUserFooter}
  </body>
</html>
