.container(ng-click="wixivrViewer.onClick()")
  .hero-unit
    %h1
      {{'general.YO' | translate}}
      %i.logo-on-header.wixivr-svg-font-icons-wix-logo
    %div
      This is {{wixivrViewer.name}} ({{wixivrViewer.clicks}})
    %h3 Enjoy coding! - Yeoman
