.container(ng-click="wixivrApp.onClick()")
  .hero-unit
    %h1
      {{'general.YO' | translate}}
      %i.logo-on-header.wixivr-svg-font-icons-wix-logo
    %div
      This is {{wixivrApp.name}} ({{wixivrApp.clicks}})
    %h3 Enjoy coding! - Yeoman
